# This file specifies the kafka configuration we want applied to the brokers during cluster setup.
# the format is:
#
# topics:
#   - topic: <name>  // the name of a topic we want created in the broker
#     <property-name>: <value> // each property-name / value combination will be applied as a topic-
#     <...>                    // specific property setting.
#
# In addition, we are using the following broker-level settings. So if these settings are not
# set at the topic level, they will inherit these broker values:
#      log.retention.hours: ${KAFKA_LOG_RETENTION_HRS} # 24 hrs
#      message.max.bytes: ${KAFKA_MAX_MESSAGE_BYTES} # 67108864 bytes (64mb)
#
topics:
  - topic: tp-notifications
    properties:
      retention.ms: 604800000 # 604800000 ms = 7 days
  - topic: analysis-summary
    properties:
      retention.ms: 7200000 # 7200k ms = 2 hr
  - topic: analysis-status-notification
    properties:
      retention.ms: 7200000 # 7200k ms = 2 hr
  - topic: topology-summaries # a topic containing short summaries of topologies
    properties:
      retention.ms: 3600000 # 3600k ms = 1 hr
  - topic: tp-live-topologies
    properties:
      retention.ms: 3600000 # 3600k ms = 1 hr
  - topic: tp-user-plan-topologies
    properties:
      retention.ms: 3600000 # 3600k ms = 1 hr
  - topic: tp-scheduled-plan-topologies
    properties:
      retention.ms: 7200000 # 7200k ms = 2 hr
  - topic: entities-with-new-state
    properties:
      retention.ms: 7200000 # 7200k ms = 2 hr
  - topic: plan-analysis-topologies
    properties:
      retention.ms: 7200000 # 7200k ms = 2 hr
  - topic: projected-topologies
    properties:
      retention.ms: 3600000 # 3600k ms = 1 hr
  - topic: projected-entity-costs
    properties:
      retention.ms: 3600000 # 3600k ms = 1 hr
  - topic: projected-entity-ri-coverage
    properties:
      retention.ms: 3600000 # 3600k ms = 1 hr
  - topic: projected-commitment-mappings
    properties:
      retention.ms: 3600000 # 3600k ms = 1 hr
  - topic: action-plans
    properties:
      retention.ms: 2400000 # 2400k ms = 40 min
  - topic: historyNotifications
    properties:
      retention.ms: 86400000 # 86400k ms = 24 hr
  - topic: repository-topology-notifications
    properties:
      retention.ms: 86400000 # 86400k ms = 24 hr
  - topic: action-orchestrator-actions
    properties:
      retention.ms: 2400000 # 2400k ms = 40 min
  - topic: plan-orchestrator-status-changed
    properties:
      retention.ms: 86400000 # 86400k ms = 24 hr
  - topic: plan-orchestrator-export-status
    properties:
      retention.ms: 86400000 # 86400k ms = 24 hr
  - topic: reservation-status-notifications
    properties:
      retention.ms: 86400000 # 86400k ms = 24 hr
  - topic: cost-notifications
    properties:
      retention.ms: 3600000 # 3600k ms = 1 hr
  - topic: topology-vm-on-demand-cost
    properties:
      retention.ms: 3600000 # 3600k ms = 1 hr
  - topic: report-generation-notifications
    properties:
      retention.ms: 600000 # 600k ms = 10 min
  - topic: system-notifications
    properties:
      retention.ms: 86400000 # 86400k ms = 24 hr
  - topic: component-status
    properties:
      retention.ms: 7200000 # 2 hr
  - topic: entity-severities
    properties:
      retention.ms: 7200000 # 2 hr
  - topic: license-summary
    properties:
      cleanup.policy: compact # use compacted log to preserve the latest license summary
      segment.bytes: 75000 # smaller segment sizes since the messages are small and single-keyed
      delete.retention.ms: 360000 # don't need to keep deletes for long on this topic
  - topic: settings-updates
    properties:
      retention.ms: 360000
  - topic: action-stat-rollups
    properties:
      retention.ms: 86400000 # 86400k ms = 24 hr
  - topic: external-action-approval-requests
    properties:
      retention.ms: 86400000 # 86400k ms = 24 hr
  - topic: external-action-update-state-requests
    properties:
      retention.ms: 7200000 # 2 hr
  - topic: external-action-audit-events
    properties:
      retention.ms: 86400000 # 86400k ms = 24 hr
  - topic: tp-external-action-state-updates
    properties:
      retention.ms: 7200000 # 2 hr
  - topic: tp-external-action-approval-responses
    properties:
      retention.ms: 86400000 # 86400k ms = 24 hr
  - topic: exporter
    properties:
      retention.ms: 3600000 # 1 hour
      compression.type: snappy # reduce kafka disk usage with compression on the json object
  - topic: tp-plan-export
    properties:
      retention.ms: 86400000 # 86400k ms = 24 hr
  - topic: volume-notifications
    properties:
      retention.ms: 86400000 # 86400k ms = 24 hr
  - topic: application-service-history-notification
    properties:
      retention.ms: 86400000 # 86400k ms = 24 hr
    # This topic in intended for internal use and not exposed to customers directly. A public API
    # endpoint will allow customers to obtain the contents indirectly.
  - topic: telemetry
    properties:
      retention.ms: 31536000000 # 1 year
  - topic: effective-suspend-schedules
    properties:
      retention.ms: 3600000 # 3600k ms = 1 hr

