# Maven
target/

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project
# Eclipse IDE plugin temporary configuration files for Eclipse CS Checkstyle
.checkstyle

# Mac OS X
.DS_Store

# OVA builds
build/packer.io/packer_cache
build/packer.io/turbonomic_xl

# Reviewboard config (avoid committing customizations)
.reviewboardrc

# Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*

# Python bytecode
__pycache__
*.pyc

.cache
