

    <!--     This file is only generated if it does not already 
             exist - you may safely change its contents            -->


        <div id="wrapper">
            <div id="content">
                <h2 id="subview_heading">Heading</h2>
                <p><b>Topic</b> -- Cue the obligatory <em>Lorem Ipsum</em> riff-raff type text, <a href="#">Followed by an example of a link.</a> There are many uses for <em>Lorem Ipsum</em>, using it as filled text isn't recommended. Make sure to always use actual content when building your websites! It just makes more sense. Now for the lipsum.</p>
                <p><b>Topic</b> -- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p><b>Topic</b> -- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <p><b>Topic</b></p>

                <table width="95%" border="1">
                    <tr>
                        <td>Label</td>
                        <td><a href="mailto:person@people.com">Person Name</a></td>
                    </tr>
                    <tr>
                        <td>Label</td>
                        <td>Info goes here</td>
                    </tr>
                </table>

            </div>
        </div>
        
        <div id="navigation">
            <h2>Supporting Info</h2>
            
            <p>Instructions might go here...</p>
            
            <ul>
                <li><a href="#">Reference 1</a></li>
                <li><a href="#">Reference 2</a></li>
                <li><a href="#">Reference 3</a></li>
            </ul>
        </div>
        
        <div id="views">
            <h2>Heading</h2>
            
            <p>Instructions might go here...</p>
            
            <p>Heading</p>
            <ul>
                <li><a href="#">Link to topic</a></li>
                <li><a href="#">Link to topic</a></li>
            </ul>
            
            <p>Heading</p>
            <ul>
                <li><a href="#">Link to topic</a></li>
                <li><a href="#">Link to topic</a></li>
                <li><a href="#">Link to topic</a></li>
            </ul>            
        </div>
        
