
<p id="top_section_label">Inventory</p>

<hr />

<p id="section_label">Host Groups/Clusters</p>
<ul>
  <% for group in @clusters do %>
    <li><%= link_to group.group_name.to_s.gsub("PMs_",""), :action => 'summary_cluster', :group_name => group.group_name %></li>
  <% end %>
</ul>

<p id="section_label">Hosts</p>
<ul>
  <% for host in @hosts do %>
    <li><%= link_to host.display_name.to_s, :action => 'summary_pm', :pm_uuid => host.uuid %></li>
  <% end %>
</ul>
