
<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   @ft_view_section = {}
%>


<!-- BEGIN-UID.user_ctrls -->

<!-- END-UID.user_ctrls -->


<% @ft_view_section[:entities] = capture { %>
<% if @show_item[:entities] then %>

  <!-- Entities -->

  <a name="entities"></a>

  <div id="show_rel_entities" class="show_rel show_rel_entities">                                                 <!-- div28 -->
    <div id="show_rel_entities_label" class="rel_label"> Entities &nbsp; <%= show_hide('show/hide','show_rel_entities_value')%> </div>        <!-- div29 -->

    <div id="show_rel_entities_value" class="rel_value">                                                                           <!-- div30 -->
        <ul style="margin-left:20px;">
        <% for entity in (@entities || []) %>
        <li>
        <% text = entity.name.to_s %>
        <% text = (auto_link(text)) %>
        <% text = "&nbsp;" if text.length == 0 %>
        <%= link_to entity.iname, url_show(entity), :class => "identity_link" %> 
        </li>
        <% end %>
        </ul> 

    </div>          <!-- div31 -->
  </div>            <!-- div32 -->
<% end %>
<% } %>


<% @ft_view_section_order = []
   @ft_view_section_order << :entities
%>

<!-- BEGIN-UID.user_ordering -->

<!-- END-UID.user_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>

