
<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   @ft_view_section = {}
%>

<!-- BEGIN-UID.user_ctrls -->

<!-- END-UID.user_ctrls -->

<% @ft_view_section[:ft_prop_title] = capture { %>
<% if @show_item[:ft_prop_title] then %>
<div class="show_iname">
   <%= @version_info.iname %>
</div>
<% end %>
<% } %>



<% @ft_view_section[:version] = capture { %>
<% if @show_item[:version] then %>

  <!-- Version -->

  <div class="show_attr_group attr_group_version_info_version ">      <!-- div10 -->
    <div class="show_attr_label"> Version </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= auto_link(@version_info.version.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>


<% @ft_view_section_order = []
   @ft_view_section_order << :ft_prop_title
   @ft_view_section_order << :version
%>

<!-- BEGIN-UID.user_ordering -->

<!-- END-UID.user_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>

