
/* mobi css styles */

body { background:white; padding:0; }

th { white-space: nowrap; }
td.rhs { border:none; }

ul { margin: 2px 10px; padding:0; }
li { margin: 2px 0 2px 8px; font-size: 10pt; }

/*
p.mobi_banner { background:url(/persistence/images/vslice_vmt_pod_banner.jpg);
                font-size: 12pt; padding:2px;
                letter-spacing: 4px; font-weight: normal;
                margin:0; text-align: center; color:#225588;
                border-bottom:solid 1px gray; }
*/

div.mobi_header { x_background:url(/persistence/images/vslice_blue.jpg); }

p.mobi_buttons { float:left; margin:8px 10px 0 60px; }

p.mobi_banner { float:left; font-size: 12pt; padding:2px;
                letter-spacing: 4px; font-weight: normal;
                margin:0; text-align: left; color:#225588; }

div.mobi_content { clear:both; }


p { margin:4px 0; }

h3, h4, h5 { margin:12px 0 4px 0; }

#top_section_label { font-size:14pt; font-weight: bold; letter-spacing: 3px;
                     margin-left:10px; margin-top:8pt;
                     color:#9E8037; color:CC9900; x_color:#225588; }

#section_label { font-weight: bold; letter-spacing: 3px; margin:8pt 0;
                 text-decoration: underline;
                 font-style: italic; font-variant: small-caps;
                 background:white; color:#225588; padding:0 3px; }

a { text-decoration: none; font-size: 10pt; color:blue;  x_color:#005588; }

th, td { text-align: left; font-size: 10pt; }

td.row_label { color:#225588; }

table.compact { border: solid 1px gray; }
table.compact tr th { border-right:solid 1px gray; border-bottom:solid 1px gray; }
table.compact tr td { border-right:solid 1px gray; border-bottom:solid 1px gray; }

* { font-family: verdana; }
