
<h3>Send Report PDF Via E-Mail</h3>

<p>
	<span style="font-weight: bold;">Report:</span> <%= @standard_report.title.to_s %> 
</p>


<% form_tag(:action => 'send_via_email', :id => @standard_report.id, :date => params[:date]) do %>

  <p style="font-weight: bold;">Send to addresses (comma separated):</p>
  <p><%= text_field_tag 'email_addresses', '', :size => 80 %></p>

  <p>
	<span style="font-weight: bold;">Format:</span> 
	<%= select_tag 'format', options_for_select({'PDF'=>'pdf','Excel'=>'xls'},'pdf') %>
  </p>
  <p><%= submit_tag "Send" %></p>
<% end %>