
<h3>Send Report PDF Via E-Mail</h3>

<p><span style="font-weight: bold;">Report:</span> Summary for <%= @machine_name %></p>

<% form_tag(:action => 'send_se_via_email', :machine_name => @machine_name, :class_name => @class_name) do %>
  <p style="font-weight: bold;">Send to addresses (comma separated):</p>
  <p><%= text_field_tag 'email_addresses', '', :size => 80 %></p>
  <p>
	<span style="font-weight: bold;">Format:</span> <%= select_tag 'format', options_for_select({'PDF'=>'pdf','Excel'=>'xls'},'pdf') %> 
  </p>
  <p><%= submit_tag "Send" %></p>
<% end %>
