<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta HTTP-EQUIV="REFRESH" content="0; url=<%=@redirect_url%>"/>
  </head>
  <body style="background:white;">
    <%= image_tag @customer_name.to_s+".jpg" %>

    <h3>
      On-Demand Reports
    </h3>

    <div style="float:left; margin-left:20px; width:4in; border:solid 1px gray; background:#F0F7FD; padding:4px;">
      <p style="margin-top:20px; text-align:center;">
        Preparing report for <b><%= @for_item %></b>
      </p>

      <p style="margin:20px; text-align:center;">
        It may take a few minutes.
      </p>

      <p style="margin:20px; text-align:center;">
        This page will be replaced by your report.
      </p>

      <p style="margin:20px; text-align:center;">
        Please wait... &nbsp; &nbsp;
        <%=image_tag 'rotating_work_indicator.gif'%>
      </p>
    </div>

  </body>
</html>
